<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/mio.css">
    <link rel="shortcut icon" href=" {% static '\images\iconos.ico' %} " type="image/x-icon">
</head>

<body>

    <div class="header-second">
        <ul>
            <li> <a href=" {% url 'about' %}">About</li></a>
                <li> <a href="{%  url 'formulario' %}">Contactame</li></a>

                    <li><a href="{% url 'web2' %}">Proyectos</li></a>
        </ul>
    </div>
    <header class="main-header">
        <div class="header-main">
            <p>Hola. <br> Soy Gabriel</p>
        </div>

    </header>
    <div class="imagenes"><img src=" {% static '\images\flechas.png' %} " alt="10px"></div>

    <section class="lista-main">
        <ul>
            <li>Analista funcional de Sistemas informaticos</li>
            <li>Analista de Datos </li>
            <li>Desarrollador de paginas web Jr.</li>
            <li>Freelance</li>
        </ul>

    </section>
    <div class="insertar">

        <aside class=" definition ">
            <p>Me llamo Gabriel Alegre soy de Rosario,StaFe,Argentina.En el año 2022 me recibi como analista funcional de sistema informaticos y me dedique aprender la ciencia de datos y programacion en python. Durante este tiempo realice algunas aplicaciones
                de escritorios como calculadoras y blog de notas en PyQT5, ademas de realizar muchos analisis de datos utilizando machine learning al utilizar datos para predecir comportamientos lo cual lo hice con Google colab. En ultima instancia estoy
                realizando paginas web y aplicaciones con Django ademas de aprender el lenguaje de la web, JavaScript.</p>
        </aside>
    </div>
    <div class="circle"></div>
    <hr>
    <footer class="bajo">
        <center>
            <p>&copy; Gabriel alegre</p>
        </center>

        <a href="https://www.facebook.com/gabriel.alegre.76"><img src=" {% static '\images\facebook(1).png' %} " alt="10px "></a>
        <a href="https://www.instagram.com/gabytns/"><img src=" {% static '\images\instagram.png' %} " alt="10px "></a>

        <a href="https://www.linkedin.com/in/gabriel-alegre-28b360a9/"><img src=" {% static '\images\linkedin(1).png' %} " alt="10px "></a>

    </footer>
</body>

</html>